<div class="resource-list">
  <h2>Liste des ressources</h2>

  <div *ngIf="resources.length === 0" class="empty-message">
    Aucune ressource disponible.
  </div>

  <div *ngFor="let resource of resources" class="resource-item">
    <div class="resource-image">
      <img [src]="resource.image_path" alt="Image de l'article" class="article-image">
    </div>
    <div class="resource-info">
      <h3>{{ resource.title }}</h3>
      <p>{{ resource.description }}</p>
      <p>Créé par : {{ resource.createdBy }}</p>
      <p>Créé le : {{ resource.createdAt }}</p>
    </div>
    <div class="resource-actions">
      <a [routerLink]="['/resources/detail/', resource.id]">Voir plus</a>
      <a [routerLink]="['/resource/share', resource.id]">Partager</a>
      <button (click)="deleteResource(resource.id)">Supprimer</button>
    </div>
  </div>
</div>
