.resource-list {

  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .empty-message {
    font-style: italic;
    color: #888;
    margin-bottom: 20px;
  }

  .resource-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
  }

  .resource-image {
    flex-shrink: 0;
    margin-right: 20px;

    .article-image {
      width: 150;  /* Modifier la valeur selon vos besoins */
      height: 150px; /* Modifier la valeur selon vos besoins */
      object-fit: cover; /* Ajustement de l'image pour respecter les dimensions */
    }
  }

  .resource-info {
    flex: 1;
    margin-right: 20px;

    h3 {
      font-size: 18px;
      margin-bottom: 5px;
    }

    p {
      margin-bottom: 5px;
    }
  }

  .resource-actions {
    flex-shrink: 0;
    // margin-left: 20px;

    a,
    button {
      display: inline-block;
      padding: 5px 10px;
      margin-left: 10px;
      font-size: 14px;
      text-decoration: none;
      color: #333;
      background-color: #f5f5f5;
      border: 1px solid #ddd;
      border-radius: 3px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #ddd;
      }
    }

    button {
      background-color: #f44336;
      color: #fff;
      border-color: #f44336;

      &:hover {
        background-color: #d32f2f;
        border-color: #d32f2f;
      }
    }
  }
}


.resource-list {
  /* Styles pour la liste des autres articles */

  h3 {
    // Styles pour le titre "Autres articles"
    font-size: 1.5rem;
    color: black;
    margin-bottom: 1rem;
  }

  ul {
    // Styles pour la liste des articles
    padding-left: 0;
    list-style-type: none;
  }

  li {
    /* Styles pour chaque article */
    margin-bottom: 20px;

    a {
      /* Styles pour le lien de l'article */
      color: #333;
      text-decoration: none;

      &:hover {
        /* Styles au survol du lien de l'article */
        text-decoration: underline;
      }
    }

    .resource-info {
      /* Styles pour le contenu de l'article */

    }

    .article-button {
      /* Styles pour le bouton de l'article */
      display: inline-block;
      padding: 10px 20px;
      background-color: #f5f5f5;
      color: #333;
      border: 1px solid #ccc;
      border-radius: 4px;
      text-decoration: none;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #ddd;
      }
    }
  }
}
