<app-slider [images]="sliderImages"></app-slider>
<br>
<div class="resource-list">
  <h2>Liste des ressources</h2>

  <div *ngIf="resources.length === 0" class="empty-message">
    Aucune ressource disponible.
  </div>

  <div *ngFor="let resource of resources" class="resource-item">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="resource-image">
          <img [src]="resource.image_path" alt="Image de l'article" class="article-image">
        </div>
      </div>
      <div class="col-md-8 col-sm-12">
        <div class="resource-info">
          <h3>{{ resource.title }}</h3>
          <p>{{ resource.description }}</p>
          <p>Créé par : {{ resource.createdBy }}</p>
          <p>Créé le : {{ resource.createdAt }}</p>
        </div>
        <div class="resource-actions">
          <a [routerLink]="['/resources/detail/', resource.id]">Voir plus</a>
          <!-- Formulaire de partage de la ressource -->
          <form (submit)="shareResource(resource)">
            <button type="submit" class="share-button">Partager</button>
          </form>

          <button (click)="deleteResource(resource.id)">Supprimer</button>
        </div>
      </div>
    </div>
  </div>
</div>
