<!-- Nous affichons les détails de la ressource sélectionnée, tels que le titre, la description, le type, le créateur et la date de création. -->
<h2>Share Resource</h2>
<!-- <div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div> -->

<!-- <div *ngIf="selectedResource">
  <h3>{{ selectedResource.title }}</h3>
  <p>{{ selectedResource.description }}</p>
  <p>Type: {{ selectedResource.content }}</p>
  <p>Created By: {{ selectedResource.createdBy }}</p>
  <p>Created At: {{ selectedResource.createdAt | date }}</p> -->

  <!-- Ajout d'un champ d'entrée pour l'e-mail du destinataire (<input type="email">) et utilisons la liaison de données bidirectionnelle avec [(ngModel)] pour lier sa valeur à la propriété recipientEmail du composant. -->
  <!-- <label for="email">Email</label>
  <input type="email" id="email" [(ngModel)]="recipientEmail" required> -->

  <!-- bouton "Share" qui appelle la méthode share() lorsque cliqué. -->
  <!--<button (click)="share()">Share</button> -->
<!-- </div> -->
