<app-slider [images]="sliderImages"></app-slider>
<br>
<p>
  Mentions légales et Politique de confidentialité
</p>
<p>
  Bienvenue sur EntreCitoyens ! Cette page contient les mentions légales et la politique de confidentialité régissant l'utilisation de notre site internet. Nous vous invitons à lire attentivement ces informations afin de comprendre vos droits et obligations lors de votre visite sur notre plateforme.
</p>
<p>
  <strong>Collecte et utilisation des données personnelles</strong>
</p>
<p>
  Nous attachons une grande importance à la protection de vos données personnelles. Lorsque vous utilisez notre site, certaines informations peuvent être collectées de manière automatique, telles que votre adresse IP, votre navigateur, votre système d'exploitation, votre historique de navigation, et d'autres informations similaires. Ces données sont utilisées à des fins statistiques et pour améliorer votre expérience sur EntreCitoyens.
</p>
<p>
  Dans certains cas, nous pourrions vous demander de fournir volontairement des informations personnelles telles que votre nom, votre adresse e-mail, votre numéro de téléphone, etc. Ces données sont collectées dans le but de vous fournir des services personnalisés, de vous contacter en cas de besoin, de traiter vos demandes et de vous informer sur nos nouveautés et événements.
</p>
<p>
  <strong>Protection des données personnelles</strong>
</p>
<p>
  Nous nous engageons à protéger la confidentialité et la sécurité de vos données personnelles. Nous mettons en place des mesures techniques et organisationnelles appropriées pour prévenir tout accès non autorisé, toute divulgation, toute altération ou toute destruction de vos données.
</p>
<p>
  Nous ne divulguerons vos données personnelles à des tiers que dans les cas suivants :
</p>
<ul>
  <li>Si cela est nécessaire pour répondre à une exigence légale ou réglementaire ;</li>
  <li>Si cela est nécessaire pour prévenir une menace sérieuse pour votre sécurité ou celle d'autrui ;</li>
  <li>Si cela est nécessaire pour protéger nos droits légaux ou pour enquêter sur une activité frauduleuse présumée.</li>
</ul>
<p>
  <strong>Utilisation des cookies</strong>
</p>
<p>
  Notre site utilise des cookies pour améliorer votre expérience de navigation. Les cookies sont de petits fichiers texte stockés sur votre ordinateur qui nous permettent de reconnaître votre visite et de personnaliser votre expérience sur EntreCitoyens. Vous pouvez choisir de désactiver les cookies dans les paramètres de votre navigateur, mais cela pourrait limiter certaines fonctionnalités de notre site.
</p>
<p>
  <strong>Liens vers des sites tiers</strong>
</p>
<p>
  EntreCitoyens peut contenir des liens vers des sites web tiers qui ont leurs propres politiques de confidentialité. Nous ne sommes pas responsables du contenu ou des pratiques de ces sites et vous encourageons à consulter leurs politiques de confidentialité avant de fournir vos informations personnelles.
</p>
<p>
  <strong>Modification de la politique de confidentialité</strong>
</p>
<p>
  Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Toute modification sera affichée sur cette page, </p>
