
#intro {
  /* Margin to fix overlapping fixed navbar */
  margin-top: 58px;
}
@media (max-width: 991px) {
  #intro {
    /* Margin to fix overlapping fixed navbar */
    margin-top: 45px;
  }
}

.form-control{
  text-align: center;
}

.popupCreation {
  margin-top: 30px;
  text-align: center;
}
