<app-slider [images]="sliderImages"></app-slider>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <!-- Colonne pour la photo de profil -->
      <div class="profile-image">
        <img src="../../../assets/init/profil.jpg" alt="Photo de profil" class="img-fluid rounded-circle">
      </div>
    </div>
    <div class="col-md-9">
      <!-- Colonne pour les informations du profil -->
      <div class="profile-info">
        <h2 class="mb-3">Mon Profil</h2>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Informations</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>Nom:</strong> John Doe</li>
              <li class="list-group-item"><strong>Âge:</strong> 30 ans</li>
              <li class="list-group-item"><strong>Email:</strong> johndoe@example.com</li>
              <!-- Autres informations du profil -->
              <li class="list-group-item"><strong>Adresse:</strong> 123 Rue de l'Exemple</li>
              <li class="list-group-item"><strong>Téléphone:</strong> +1 234 567 890</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
